{% extends "Palto/base.html" %}

{% block body %}
    {# table of all the absences #}
    <table>
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Département</th>
                <th>Étudiant</th>
                <th>Période</th>
            </tr>
        </thead>
        <tbody>
            {# show the information for every session #}
            {% for absence in absences %}
                <tr>
                    <td><a href="{% url "Palto:absence_view" absence.id %}">{{ absence.short_id }}</a></td>
                    <td><a href="{% url "Palto:department_view" absence.department.id %}">{{ absence.department }}</a></td>
                    <td><a href="{% url "Palto:profile" absence.student.id %}">{{ absence.student }}</a></td>
                    <td>{{ absence.start }}<br>{{ absence.end }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {# page navigator #}
    {# TODO(Faraphel): page navigator as template ? #}
    {# TODO(Faraphel): new absence button #}

    <div>
        {% if sessions.has_previous %}
            <a href="?page={{ sessions.previous_page_number }}">Previous</a>
        {% endif %}

        <a>{{ sessions.number }}</a>

        {% if sessions.has_next %}
            <a href="?page={{ sessions.next_page_number }}">Next</a>
        {% endif %}
    </div>
{% endblock %}
