{% extends "Palto/base/base-features.html" %}

{% block body %}
    {{ block.super }}

    {# absence's information #}
    <table>
        <tr>
            <th>Identifiant</th>
            <td>{{ absence.id }}</td>
        </tr>
        <tr>
            <th>Département</th>
            <td><a href="{% url "Palto:department_view" absence.department.id %}">{{ absence.department }}</a></td>
        </tr>
        <tr>
            <th>Étudiant</th>
            <td><a href="{% url "Palto:profile" absence.student.id %}">{{ absence.student }}</a></td>
        </tr>
        <tr>
            <th>Période</th>
            <td>{{ absence.start }}<br>{{ absence.end }}</td>
        </tr>
    </table>

    {# absence's message #}
    <p>
        {{ absence.message }}
    </p>

    {# absence's attachments #}
    <div>
        {% for attachment in absence.attachments.all %}
            <a href="{{ attachment.content.url }}" target="_blank">{{ attachment.content.name }}</a>
        {% endfor %}
    </div>
{% endblock %}
