{% extends "Palto/base.html" %}
{% load dict_tags %}


{% block body %}
    {# department's information #}
    <table>
        <tr>
            <th>Identifiant</th>
            <td>{{ department.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ department.name }}</td>
        </tr>
        <tr>
            <th>Mail</th>
            <td>{% if department.email != None %}{{ department.email }}{% else %} / {% endif %}</td>
        </tr>
    </table>

    {# department's managers #}
    <table>
        <thead>
            <tr>
                <th>Responsables</th>
            </tr>
        </thead>
        <tbody>
            {% for manager in department.managers.all %}
                <tr>
                    <td><a href="{% url "Palto:profile" manager.id %}">{{ manager }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {# department's teachers #}
    <table>
        <thead>
            <tr>
                <th>Enseignants</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in department.teachers.all %}
                <tr>
                    <td><a href="{% url "Palto:profile" teacher.id %}">{{ teacher }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
