{% extends "Palto/base/base-features.html" %}
{% load static %}

{% block page-title %}
    Connexion
{% endblock %}

{% block navigation-title %}
    Connexion
{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "Palto/css/login.css" %}" />
{% endblock %}

{% block body %}
    {{ block.super }}

    <form id="login-form" method="POST">
        {% csrf_token %}
        <table>
            {{ form_login.as_p }}
        </table>
        <input type="submit" value="Se connecter">
    </form>
{% endblock %}
