{% extends "Palto/base/base.html" %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "Palto/css/navigation.css" %}" />
{% endblock %}

{% block body %}
    {{ block.super }}

    <nav>
        <div id="navigation-header">
            <img id="navigation-icon" src="{% static "Palto/favicon.svg" %}" alt="Palto's icon" />
            <a id="navigation-app-name">Palto</a>
        </div>
        <div id="navigation-title">
            {% block navigation-title %}
            {% endblock %}
        </div>
        <div id="navigation-buttons">
            <a href="{% url "Palto:homepage" %}">Home</a>
            {% if request.user.is_authenticated %}
                <a href="{% url "Palto:my_profile" %}">Profile</a>
                <a href="{% url "Palto:logout" %}">Logout</a>
            {% else %}
                <a href="{% url "Palto:login" %}">Login</a>
            {% endif %}
        </div>
    </nav>
{% endblock %}