#department-informations {
    border-collapse: collapse;
    border: 2px solid black;
    margin: 5% auto;
}

#department-informations th {
    text-align: right;
    border: 1px solid black;
    padding: 4px;
}

#department-informations td {
    text-align: left;
    border: 1px solid black;
    padding: 4px;
}

#department-relations {
    display: flex;
    width: 60%;
    margin: auto;
}

.department-relation {
    border-collapse: collapse;
    border: 2px solid black;
    margin: 0 auto auto auto;
}

.department-relation th {
    border: 2px solid black;
    padding: 4px;
}

.department-relation td {
    border: 2px solid black;
    padding: 4px;
}