#table-informations {
    border-collapse: collapse;
    border: 2px solid black;
    margin: 5% auto;
}

#table-informations th {
    text-align: right;
    border: 1px solid black;
    padding: 4px;
}

#table-informations td {
    text-align: left;
    border: 1px solid black;
    padding: 4px;
}

#table-relations {
    display: flex;
    width: 60%;
    margin: auto;
}

.table-relation {
    border-collapse: collapse;
    border: 2px solid black;
    margin: 0 auto auto auto;
}

.table-relation th, .table-relation td {
    border: 2px solid black;
    padding: 4px;
}
